<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Name}} - Details</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body class="artist">
    <div class="container">
      <div class="header">
        <img src="{{.Image}}" alt="{{.Name}}" />
        <h1>{{.Name}}</h1>
      </div>
      <div class="details">
        <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
      </div>
      <div class="members">
        <h2>Members</h2>
        <ul>
          {{range .Members}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </div>
      <div class="locations">
        <h2>Concert Locations</h2>
        <ul>
          {{range $location, $dates := .ConcertLocations}}
          <h3>{{$location}}</h3>
          <ul>
            {{range $dates}}
            <li>{{.}}</li>
            {{end}}
          </ul>
          {{end}}
        </ul>
      </div>
    </div>
  </body>
</html>
